@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1130px;
}

.menu {
  background-color: #3f2aff;
}

.menu__content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__bar {
  display: flex;
}

.menu__link {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.menu__link:not(:last-child) {
  margin-right: 56px;
}

.about {
  padding: 15px 0 12px;
  background: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%,
    #555681 0%,
    #212133 100%
  );
}

.about__heading {
  margin: 0 0 25px;
  font-size: 60px;
  line-height: 100%;
  color: #ffffff;
}
.about__col {
  display: flex;
  align-items: center;
}

.text {
  font-size: 16px;
  line-height: 150%;
}

.about__text {
  margin-bottom: 60px;
  font-size: 18px;
  color: #ffffff;
}

.about__btn {
  padding: 24px 76px;
  background: #3f2aff;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}

.about__image {
  max-width: 100%;
}

.benefits {
  padding: 80px 0 75px;
  background: #ffffff;
}

.benefits__content {
  margin-bottom: 15px;
}

.benefits__col {
  display: flex;
}

.subheading {
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
}

.benefits__subheading {
  color: #2e2b44;
  margin-bottom: 15px;
  max-width: 380px;
}

.benefits_desc {
  color: #666666;
}

.benefits__text {
  padding: 16px 0;
  padding-left: 110px;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: left center;
}

.benefits__text-first {
  background-image: url(../img/benefits/benefits_one.svg);
}

.benefits__text-second {
  background-image: url(../img/benefits/benefits_two.svg);
}

.benefits__text-third {
  background-image: url(../img/benefits/benefits_three.svg);
}

.teachers {
  background: #212133;
  padding: 75px 0 75px;
}

.tearchers__subheading {
  color: #ffffff;
  margin-bottom: 20px;
}

.teachers__logo {
  margin-bottom: 30px;
  border-radius: 22px 22px 0px 0px;
}

.teachers__name {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.teachers__text {
  color: #85859b;
}

.courses {
  padding: 75px 0 85px;
  background: #ffffff;
}

.courses__subheading {
  color: #212133;
  margin-bottom: 25px;
}

.courses__column {
  display: flex;
}

.courses__column:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.courses__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 210px 30px 30px;
  background-color: #edf0f9;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: top center;
}

.courses__content-first {
  background-image: url("../img/courses/courses1.jpg");
}

.courses__content-second {
  background-image: url("../img/courses/courses2.jpg");
}

.courses__content-third {
  background-image: url("../img/courses/courses3.jpg");
}

.courses__content-fourth {
  background-image: url("../img/courses/courses4.jpg");
}

.courses__name {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #212133;
}

.courses__text {
  color: #666666;
  margin-bottom: 50px;
}

.courses__btn {
  width: fit-content;
  padding: 20px 59px;
  background: #3f2aff;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

.social__links {
  display: flex;
  justify-content: center;
  padding: 30px 0 20px;
  background-color: #2e2b44;
}

.social__link:not(:last-child) {
  margin-right: 30px;
}

.social__text {
  padding-top: 3px;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #2e2b44;
}

.social__reg {
  color: #3f2aff;
}

@media (max-width: 1024px) {
  .about {
    padding: 130px 0;
  }

  .about__heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .about__col-right {
    justify-content: flex-end;
  }

  .benefits__text {
    padding: 95px 0 0;
    background-position: top left;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 715px;
  }

  .benefits__subheading {
    margin-bottom: 22px;
  }
  .benefits__content {
    margin-bottom: 20px;
  }
  .teachers__block:nth-child(1),
  .teachers__block:nth-child(2) {
    margin-bottom: 20px;
  }

  .courses__text {
    margin-bottom: 30px;
  }
}
@media (max-width: 700px) {
  .menu {
    height: 133px;
  }

  .menu__content {
    flex-direction: column;
  }

  .menu__main {
    padding: 30px 0;
  }

  .about__col-right {
    display: none;
  }
}

@media (max-width: 545px) {
  .menu {
    height: 80px;
  }

  .menu__bar {
    display: none;
  }
}
