/* CodeStyle
1 - position
2 - display
3 - width / height
4 - margin padding
5 - все остальное
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a{
  text-decoration: none;
}
.menu{
    background-color:#3F2AFF;
}
.menu__content{
    height:80px;
}
.menu__link{
    font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
.menu__link:not(:last-child){
    margin-right:56px;
}